body {
  font-family: sans-serif;
}

#elements {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

button {
  padding: 8px;
  cursor: grab;
}

#playArea {
  border: 2px dashed gray;
  width: 100%;
  height: 500px;
  position: relative;
}

.item {
  position: absolute;
  background: white;
  border: 1px solid #333;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background: yellow;
}
